.card_content {
  margin: 2rem auto;
  width: 32rem;
  border: 1rem solid #fdd46b;
  border-radius: 1rem;
  padding: 1rem;
}

.card_steel {
  background: linear-gradient(180deg, #BEBEBE 0%, #605D5C 100%);
}

.card_water {
  background: linear-gradient(180deg, #1CBEEF 0%, #056A9C 100%);
}

.card_bug {
  background: linear-gradient(180deg, #6CB959 0%, #016835 100%);
}

.card_electric {
  background: linear-gradient(180deg, #FDFB89 0%, #FEE90E 100%);
}

.card_ghost {
  background: linear-gradient(180deg, #C58BBD 0%, #824699 100%);
}

.card_fire {
  background: linear-gradient(180deg, #E08568 0%, #DB5429 100%);
}

.card_fairy {
  background: linear-gradient(180deg, #F18EB1 0%, #B21C62 100%);
}

.card_fighting {
  background: linear-gradient(180deg, #E6A73E 0%, #A44C33 100%);
}

.card_normal {
  background: linear-gradient(180deg, #E3DED5 0%, #BAB3A5 100%);
}

.card_grass {
  background: linear-gradient(180deg, #C4DE8E 0%, #82AC73 100%);
}

.card_psychic {
  background: linear-gradient(180deg, #CC86B9 0%, #6950A3 100%);
}

.card_ground {
  background: linear-gradient(180deg, #E0C668 0%, #DB8929 100%);
}

.card_dark {
  background: linear-gradient(180deg, #334654 0%, #2a251f 100%);
}

.btn_content_close {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 2rem;
}

.btn_close {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50% ;
  background-color: var(--red);
  padding: 1rem;
  color: var(--gray);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700; 
}

.head_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem 0 1rem;
  height: 3rem; 
  font-size: 2rem;
}

.head_card p {
  color: var(--red);
  font-weight: 700;
}

.fondo_poke {
  background-image: url(../img/fondoCard.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  width: 28rem;
  height: 25rem;
  margin: .2rem auto;
  border: .5rem solid var(--border_card);
}

.pokemon {
  display: block;
  width: 26rem;
  margin: auto;
  filter: drop-shadow(.8rem .8rem .5rem rgba(0, 0, 0, 0.7));
}

.poke_info {
  margin: 1rem 0rem 0rem 3rem;
  align-items: center;
}

.poke_info p {
  margin: 0;
}

.titulos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--gray);

}