.fotter_content {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: rgba(200, 64, 64, 0.9);
  border-radius: 1rem;
  width: 30rem;
  margin: auto;
}

.fotter_content a {
  display: grid;
  align-items: center;
}

@media (min-width: 999px){
  .fotter_content {
    width: 25rem;
    border-radius: 1rem;
  }

  .fotter_content a img {
    width: 9rem;
  }
}
