.fotter_content {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: rgba(200, 64, 64, 0.9);
  border-radius: 1rem 1rem 0 0;
  width: 32rem;
  margin: auto;
  padding: 1rem;
}
