.inicio {
  background-image: url(../img/fondoPoke.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}

.poke-image {
  display: grid;
  grid-template-rows:  1fr 25rem 1fr;
  align-items: center;
  margin: 1rem;
}

@media (min-width: 510px){
  .poke-image {
    grid-template-rows: 1fr 27rem 1fr;
  }
}

@media (min-width: 685px){
  .poke-image {
    grid-template-rows: 1fr 22rem 1fr;
  }
}

@media (min-width: 880px) {
  .poke-image {
    grid-template-rows: 1fr 25rem 1fr;
  }
}

@media (min-width: 1050px) {
  .poke-image {
    grid-template-rows: 1fr 0fr 1fr;
  }
}

/**  Charizard */
.charizard {
  position: fixed;
  max-width: 190%;
  margin-left: -3rem;
}

@media (min-width: 510px) {
  .charizard {
    width: 150%;
    margin-left: 1rem;
  }
}

@media (min-width: 680px) {
  .charizard {
    width: 120%;
    margin-left: 15rem;
  }
}

@media (min-width: 880px) {
  .charizard {
    width: 100%;
    margin-left: 30rem;
  }
}

@media (min-width: 1050px) {
  .charizard {
    width: 90%;
    margin-left: 55rem;
    margin-top: -10rem;
  }
}

@media (min-width: 1115px){
  .charizard {
    width: 80%;
  }
}

/** PokeLogo */
.pokelogo {
  z-index: 5;
}

@media (min-width: 510px) {
  .pokelogo {
    display: block;
    margin: auto;
    width: 40rem;
  }
}

@media (min-width: 1050px){
  .pokelogo {
    width: 70rem;
    margin: 5rem 10rem;
  }
}