.inicio {
  background-image: url(../img/fondoPoke.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}

.poke-image {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 3rem;
  gap: 50vh;
}

/** Charizard */
/* .charizard {
  position: fixed;
  max-width: 190%;
  margin-left: -4rem;
}

@media (min-width: 990px) {
  .charizard {
    width: 90%;
    margin-left: 40%;
    margin-top: -10%;
  }
}

/** PokeLogo */
/*.pokelogo { 
  /* position: absolute; */
  /* top: 2.5rem; */
  /*z-index: 20;
  width: 300px;
} */

/*
@media (min-width: 768px) {
  .pokelogo {
    width: 54%;
    transform: rotate(-10.1deg);
    left: 4rem;
    top: 3rem;
  }

} */