:root {
  --gray: #d8d8d8;
  --negro: #343434;
  --amarillo: #FFF90F;
  --blue: #4776fa;
  --red: #C84040; 
  --font: 'Titillium Web', sans-serif;
  --border_card: #FDD46B;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: var(--font);
  line-height: 1.5;
  background-image: url('../src/img/fondoPokebolas.webp');
  background-position: center center;
  background-size: cover;
  /*background-repeat: no-repeat;*/
  padding-bottom: 2rem; 
  height: 100vh;
}
img {
  max-width: 100%;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}


